* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
.mx_width {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: #6500ff;
}
header img {
    width: 75px;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-weight: 500;
}
header a {
    color: #ffffff;
    text-decoration: none;
}
header a:hover {
    color: #6d6d6d;
}
button {
    background-color: #ff5f60;
    font-size: 18px;
    font-weight: 400;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    border: 0px solid;
    color: #ffffff;
}
button:hover {
    animation: bounce 1s;
}
header h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px
}
header p {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}
.hed2 {
    display: flex;
    padding-bottom: 100px;
}
.hed2 img{
    width: 450px;
}
.hed2_1 {
    width: 450px;
}
.hed2_1 h2 {
    margin: 50px 0px;
}
.hed2_1 p {
    margin-bottom: 15px;
}
.hed2_1 h1 {
    animation: myAnimate 3s;
}


.hedbod {
    display: flex;
}
.forma {
    width: 900px;
    height: 255px;
    background-color: #ff5f60;
    margin-right: 50px;
    text-align: center;
}
.forma h2 {
    font-size: 30px;
    font-weight: 400 bold;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    text-decoration: bold;
}
.forma p {
    opacity: 0.5;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    /* Text style for "Make it mo" */
    letter-spacing: -0.4px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.forma hr {
    width: 100px;
    text-align: center;
    color: #ffffff;
    border: 1px solid;
    margin-top: 20px;
}
.forma input {
    border-radius: 23px 0px 0px 23px;
background-color: #ffffff;
border: 0px;
height: 35px;
text-align: center;
}
.forma button {
background-color: #941c54;
border-radius: 0px 20px 20px 0px;
height: 35px;
width: 75px;
margin-left: -4px;
}
.forma button:hover {
    animation: pulse 1s;
}
.texthedbod {
    color: #222222;
font-family: "Open Sans";
font-size: 18px;
font-weight: 400;
line-height: 30px;
font-style: italic;
text-align: center;
}
.texthedbod p {
    color: #fb8122;
    font-size: 16px;
    font-weight: 400 bold;
    line-height: 30px;
    font-style: normal;
}
.sec1 {
    display: flex;
    padding-top: 100px;
    width: 900px;
}
.sec1 h2 {
    font-size: 30px;
font-weight: 400;
color:#333333;
margin-bottom: 35px;
}
.sec1 p {
color: #8c8c8c;
font-size: 15px;
font-weight: 400;
line-height: 23px;
margin-bottom: 75px;
}
.sec1 img {
    width:450px;
    margin-bottom: 60px;
}
.sec1_1 {
    height: 600px;
    width: 450px;
}
.sec1_2 img {
    margin-top: 60px;
}
.sec1_2 {
    height: 600px;
    width: 450px;
}
.sec3 {
    display: flex;
    margin-top: 350px;
    padding-bottom: 0px;
    justify-content: space-between;
}
.sec3 img {
    width: 300px;
}
.sec3 h2 {
    color: #333333;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}
.sec3 p {
    text-align: center;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 500;
}
.sec3_1 {
    max-width: 250px;
}
.sec3_2 {
    max-width: 250px;
}
.sec3_3 {
    max-width: 250px;
}
footer a,p {
font-size: 14px;
font-weight: 400;
color: #c9c9c9;
text-decoration: none;
}
@keyframes myAnimate {
    from {text-shadow: 0 0 3px black;}
    50% {text-shadow: 0 0 30px black;}
    to {text-shadow: 0 0 3px black;}
}